<router-outlet></router-outlet>

<div class="wrapper">
  <h1 class="headline">Where to find Gold</h1>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Find gold here</mat-label>
      <input
        type="search"
        matInput
        placeholder="E.g. Berlin, Hamburg"
        matGoogleMapsAutocomplete
        (onLocationSelected)="onLocationSelected($event)"
      />
    </mat-form-field>
  </form>
  <div class="map-wrapper">
    <agm-map
      [latitude]="latitude"
      [longitude]="longitude"
      [scrollwheel]="false"
      [zoom]="zoom"
    >
      <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
    </agm-map>
  </div>

  <mat-slider
    class="radius-slider"
    [max]="max"
    [min]="min"
    [step]="step"
    [thumbLabel]="thumbLabel"
    [(ngModel)]="radius"
    (change)="onSlideEnd()"
  >
  </mat-slider>

  <h3 class="radius">{{ radius }} km</h3>

  <mat-spinner
    style="margin-top: 5px;"
    [diameter]="35"
    *ngIf="results.length === 0 && status != 'ZERO_RESULTS'"
  ></mat-spinner>

  <h4
    class="no-results"
    *ngIf="results.length === 0 && status === 'ZERO_RESULTS'"
  >
    No Results
  </h4>

  <div class="results">
    <div *ngFor="let result of results" class="example-card">
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.google.com/maps/search/?api=1&query=Google&query_place_id={{
          result.place_id
        }}"
        style="text-decoration: none;"
      >
        <mat-card class="card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ result.name }}</mat-card-title>
            <mat-card-subtitle>{{ result.vicinity }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="mat-card-content">
            <ngb-rating
              style="color: rgb(183, 159, 96);"
              [rate]="result.rating"
            ></ngb-rating>
            <span> ({{ result.user_ratings_total }})</span>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>
</div>
